spring:
  datasource:
    url: jdbc:postgresql://192.168.0.120:5432/catalogue
    username: postgres
    password: mysecretpassword
  flyway:
    schemas:
      - public
      - catalogue
  jpa:
    show-sql: true
server:
  port: 8081
logging:
  level:
    sql: info